<div class="banner movie-count" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= list_background(@list) %>);">
  <div class="container">
    <h1 class= "mb-3"><%= @list.name %></h1>
    <div class="movie-counter btn btn-success"><%= @list.movies.all.count %> Movies</div>
    <div class="movie-counter btn btn-warning">Avg Rating: <%= @list.rating_average %></div>
  </div>
</div>

<div class="container">
  <div class="d-flex align-items-center justify-content-between mb-3 mt-3">
    <h2 class="mb-0">Movies in <%= @list.name %></h2>
    <%= link_to new_list_bookmark_path(@list) do %>
      <p class="btn btn-primary">Add Movies</p>
    <% end %>
  </div>
  <div class="cards mb-5 mt-3">
    <% @list.movies.each do |movie| %>
      <div class="card-trip">
        <%= image_tag movie.poster_url %>
        <div class="card-trip-infos">
          <div>
            <h2><%= movie.title %></h2>
            <p><%= movie.overview %></p>
          </div>
          <h2 class="card-trip-pricing"><%= movie.rating %></h2>
        </div>
        <div class="bin-icon">
          <%= link_to bookmark_path, method: 'delete' do %>
            <i class="fas fa-trash the-bin"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
